.contact_main{
    text-align: center;
}
.contact_main input ,.contact_main textarea{
    width: 400px;
    /* margin: 20px; */
    resize: none;
}
@media (max-width:600px){
    .contact_main input , .contact_main textarea{
        width: 300px;
    }
}
.contact_main input{
    height: 45px;
}
.submit_btn{
    width: 200px;
    height: 45px;
    margin-bottom: 100px;
    font-size: 22px;
    background-color: fuchsia;
    border: none;
    box-shadow: 0 0 20px;
    border-radius: 20px;
}
.submit_btn1{
    width: 150px;
    height: 45px;
    box-shadow: 0 0 10px wheat;
}

.submit_btn:hover{
    background-color: green;
    border-radius: 30px;
}